<div class="w-full h-full min-h-screen flex justify-center items-center">
    <div class="sm:w-3/5 w-11/12 md:w-3/12 bg-white rounded-lg p-2 drop-shadow-2xl">
        <h1 class="uppercase text-lg text-center font-semibold tracking-wide">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            Log In
        </h1>
        <form action="login" method="POST" class="">
            <div class="flex md:flex-col gap-2 my-2">
                <label for="email" class="block w-1/5">Email</label>
                <input type="text" name="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    value="<%= typeof email !== 'undefined' ? email:'' %> "
                    class="w-full p-1 focus:border-blue-500 block border outline-none rounded-lg" required>
            </div>
            <div class="flex md:flex-col gap-2 my-2">
                <label for="password" class="block w-1/5">Password</label>
                <input type="password" name="password" id="password"
                    value="<%= typeof password !== 'undefined' ? password:'' %>"
                    class="w-full p-1 focus:border-blue-500 block border outline-none rounded-lg" required>
            </div>
            <button class="w-full rounded-lg text-white bg-blue-500 text-center block mt-3 p-1">Log In</button>
        </form>

        <a href="/user/register" class="hover:text-blue-500 block p-1 mt-3 text-center tracking-wider text-sm">Don't
            have
            account? Create</a>
    </div>
</div>